@page
@model _353HW1Carr.Pages.favoriteDetailsModel
@{
    var userid = HttpContext.Request.Query["userid"];
}

<form id="userForm" class="form">
    <div class="searchUser">
        <select id="userDropdown" name="userid">
        @for(int i=1; i<=10; i++)
        {
            <option value="@i">User @i</option>
        }
        </select>   
    <button type="button" class="button submit-btn" style="" onclick="fetchUserFavorites()">Show Favorites</button>
    </div>
</form>
<br/>
<hr/>
<br/>
<div id="playerDetails" class="table-container" style="">
    <h2>Player Information</h2>
    <table id="playerTable" class="details-table">
        <thead>
            <tr>
                <th><strong>First Name</strong></th>
                <th><strong>Last Name</strong></th>
                <th><strong>Jersey Number</strong></th>
                <th><strong>College</strong></th>
            </tr>
        </thead>
        <tbody id="playerTableBody">
        <!--player data enters here-->
        </tbody>
    </table>
</div>
<br/>
<div id="teamDetails" class="table-container" style="">
    <h2>Team Information</h2>
    <table id="teamTable" class="details-table">
        <thead>
            <tr>
                <th><strong>Team Name</strong></th>
                <th><strong>City</strong></th>
                <th><strong>Location</strong></th>
                <th><strong>Division</strong></th>
            </tr>
        </thead>
        <tbody id="teamTableBody">
        <!--team data enters here-->
        </tbody>
    </table>
</div> 
<br />
<div>
    <a href="index">
        <strong><em>Back to Search</em></strong>
    </a>
</div>

<script src="~/js/site.js"></script>