@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="horizontal">
        <img class="image float-start" src="SunPic.png" alt="Picture of the Sun" />
        <h1 class="white-header">Climate Sports</h1>
        <img class="image float-end" src="Football Pick.png" alt="Picture of Football" />
    </div>
 
    <div class="flexing">
        <form action="https://localhost:7276/playerDetails" method="get" class="form">
            <div class="searchPlayer">
                <select name="playerid">
                    <option value=" - "> Select Player </option>
                    <option value="1">Tom Brady</option>
                    <option value="2">Patrick Mahomes</option>
                    <option value="3">Aaron Rodgers</option>
                    <option value="4">Derrick Henry</option>
                    <option value="5">Christian McCaffrey</option>
                    <option value="6">DeAndre Hopkins</option>
                    <option value="7">Davante Adams</option>
                    <option value="8">T.J. Watt</option>
                    <option value="9">Aaron Donald</option>
                    <option value="10">Jalen Ramsey</option>
                </select>
                <button type="submit" class="submit-btn">Search Player</button>
            </div>
        <!-- This is the old search bar for the player and/or team
            <div class="player-bar">
                <input type="text" placeholder="Enter Player or Team Name" class="searchBar">
                <button type="submit" class="submit-btn">Search</button>
            </div>
            -->
        </form>
    </div>

    <div class="flexing">
        <form action="https://localhost:7276/TeamPage" method="get" class="form">
            <div class="searchTeam">
                <select name="teamid">
                    <option value=" - "> Select Team </option>
                    <option value="1">Patriots</option>
                    <option value="2">49ers</option>
                    <option value="3">Cowboys</option>
                    <option value="4">Bills</option>
                    <option value="5">Seahawks</option>
                    <option value="6">Saints</option>
                    <option value="7">Ravens</option>
                    <option value="8">Eagles</option>
                    <option value="9">Bears</option>
                    <option value="10">Raiders</option>
                </select>
                <button type="submit" class="submit-btn">Search Team</button>
            </div>
        </form>
    </div>

    <b></b>

    <p class="bodyText">
        <h2 class="center">
            Combining Climate and Sports to increase YOUR Knowledge of the game!
        </h2>       
    </p>

<div class="indexWords">
    <div>
        <h2>Player of the Month:</h2>
        <a href="JL10">
            <strong><em>Jordan Love</em></strong>
        </a>
    </div>
    <div>
        <h2>List of Favorites:</h2>
        <a href="favoriteDetails">
            <strong><em>Favorites</em></strong>
        </a>
    </div>
</div>



