@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="horizontal">
        <img class="image float-start" src="SunPic.png" alt="Picture of the Sun" />
        <h1 class="white-header">Climate Sports</h1>
        <img class="image float-end" src="Football Pick.png" alt="Picture of Football" />
    </div>


    <div class="flexing">
        <form action="https://localhost:7276/playerDetails" method="get" class="form">
            <div class="searchPlayer">
                <select name="playerid">
                    <option value=" - "> - </option>
                    <option value="1">Tom Brady</option>
                    <option value="2">Patrick Mahomes</option>
                    <option value="3">Aaron Rodgers</option>
                    <option value="4">Derrick Henry</option>
                    <option value="5">Christian McCaffrey</option>
                    <option value="6">DeAndre Hopkins</option>
                    <option value="7">Davante Adams</option>
                    <option value="8">T.J. Watt</option>
                    <option value="9">Aaron Donald</option>
                    <option value="10">Jalen Ramsey</option>
                </select>
                <button type="submit" class="submit-btn">Search Player</button>
            </div>
        <!-- This is the old search bar for the player and/or team
            <div class="player-bar">
                <input type="text" placeholder="Enter Player or Team Name" class="searchBar">
                <button type="submit" class="submit-btn">Search</button>
            </div>
        -->
        <!-- This is the select bars for temperature and precipitation if we need it later
            <div class="weather-info">
                <select name="Precipitation">
                    <option value=" - "> - </option>
                    <option value="80+">80+</option>
                    <option value="60-79">60-79</option>
                    <option value="40-59">40-59</option>
                    <option value="20-39">20-39</option>
                    <option value="0-19">0-19</option>
                    <option value="Below 0">Below 0</option>
                </select>
                <select name="Precipitation">
                    <option value=" - "> - </option>
                    <option value="Clear">Clear</option>
                    <option value="Rain">Rain</option>
                </select>
            </div>
            -->
        </form>
    </div>

    <b></b>

    <p class="bodyText">
        <h2 class="center">
            Combining Climate and Sports to increase YOUR Knowledge of the game!
        </h2>       
    </p>

    <div>
        <h2>Player of the Month:</h2>
        <a href="JL10">
            <strong><em>Jordan Love</em></strong>
        </a>
    </div>



