@page
@model _353HW1Carr.Pages.JL10Model
@{
}
<div class="flexing2">
    <img class="image2" src="theG.png" />
    <h1 class="player-header">Jordan Love</h1>
</div>

<table>
    <thread>
        <tr>
            <td><strong>Team</strong></td>
            <td><strong>Year</strong></td>
            <td><strong>Yards</strong></td>
            <td><strong>TDs</strong></td>
            <td><strong>Int</strong></td>
            <td><strong>QBR</strong></td>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>GB</td>
            <td>2023</td>
            <td>4287</td>
            <td>32</td>
            <td>11</td>
            <td>97.3</td>
        </tr>
        <tr>
            <td>GB</td>
            <td>2022</td>
            <td>289</td>
            <td>1</td>
            <td>2</td>
            <td>43.4</td>
        </tr>
        <tr>
            <td>GB</td>
            <td>2021</td>
            <td>27</td>
            <td>0</td>
            <td>1</td>
            <td>27.4</td>
        </tr>
    </tbody>
</table>

<button type="button" onclick="document.getElementById('jlStats').style.display='block'">More Stats!</button>
<table id="jlStats" style="display: none; width: 100%;">
    <thread>
        <tr>
            <td><strong>Team</strong></td>
            <td><strong>Year</strong></td>
            <td><strong>Att</strong></td>
            <td><strong>Comp</strong></td>
            <td><strong>Pct</strong></td>
            <td><strong>YPA</strong></td>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>GB</td>
            <td>2023</td>
            <td>579</td>
            <td>372</td>
            <td>64.2</td>
            <td>7.2</td>
        </tr>
        <tr>
            <td>GB</td>
            <td>2022</td>
            <td>21</td>
            <td>14</td>
            <td>66.7</td>
            <td>9.3</td>
        </tr>
        <tr>
            <td>GB</td>
            <td>2021</td>
            <td>62</td>
            <td>36</td>
            <td>58.1</td>
            <td>6.6</td>
        </tr>
    </tbody>
</table>



<div>
    <h2>Try Another Player?</h2>
    <a href="index">
        <strong><em>Back to Search</em></strong>
    </a>
</div>