@page
@model _353HW1Carr.Pages.playerDetailsModel
@{
}

<h1 id="playerName" style="visibility: hidden;></h1>
<div id="Height" style="visibility: hidden;"></div>
<div id="Weight" style="visibility: hidden;"></div>
<div id="JerseyNum" style="visibility:hidden"></div>
<div id="College" style="visibility:hidden"></div>
