@page
@model _353HW1Carr.Pages.playerDetailsModel
@{
    var PlayerID = HttpContext.Request.Query["PlayerID"];
}

<h2 id="playerName" style="visibility: hidden;"></h2>
<div id="Height" style="visibility: hidden;"></div>
<div id="Weight" style="visibility: hidden;"></div>
<div id="JerseyNum" style="visibility:hidden;"></div>
<div id="College" style="visibility:hidden;"></div>

<script type="module">displayPlayerDetails(@PlayerID)</script>

This is test text