@page
@model _353HW1Carr.Pages.playerDetailsModel
@{
    var playerID = HttpContext.Request.Query["playerID"];
}

<div class="flexing2">
    <img class="image float-end" src="Football Pick.png" alt="Picture of Football" />
    <div>
        <h1 id="playerName" style="visibility: hidden;"></h1>
        <h2 id="college" style="visibility: hidden;"></h2>
    </div>
</div>

<script type="module">displayHotelDetails(@playerID)</script>