@page
@model _353HW1Carr.Pages.playerDetailsModel
@{
    var PlayerID = HttpContext.Request.Query["PlayerID"];
}

<h2 id="playerName" style="visibility: hidden;"></h2>
<h2 id="PlayerName" style="visibility: hidden;"></h2>

<script type="module">displayHotelDetails(@PlayerID)</script>

This is test text