@page
@model _353HW1Carr.Pages.playerDetailsModel
@{
    var playerid = HttpContext.Request.Query["playerid"];
}

<div class="flexing2">
    <img class="image float-end" src="Football Pick.png" alt="Picture of Football" />
    <div>
        <h1 id="playerName"></h1>
        <div class="flexing2">
            <h2 id="college" style="visibility: hidden;"></h2>
            <div>
                <p>Height:<div id="height" style="visibility: hidden;"></div></p>
                <p>Weight:<div id="weight" style="visibility: hidden;"></div></p>
            </div>
        </div>
        <h2 id="college" style="visibility: hidden;"></h2>
    </div>
    <div id="jerseyNum" style="visibility: hidden;" class="PlayerNumber"></div>
</div>

<table>
    <thread>
        <tr>
            <td><strong>Year</strong></td>
            <td><strong>Yards</strong></td>
            <td><strong>TDs</strong></td>
            <td><strong>Int</strong></td>
            <td><strong>Completions</strong></td>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td>2023</td>
            <td id="yards" style="visibility: hidden;"></td>
            <td id="tDs" style="visibility: hidden;"></td>
            <td id="inTs" style="visibility: hidden;"></td>
            <td id="completions" style="visibility: hidden;"></td>
        </tr>
    </tbody>
</table>

<button type="button" onclick="var elem = document.getElementById('jlStats'); if (elem.style.display === 'block') {elem.style.display = 'none';} else {elem.style.display = 'block';}">More Stats!</button>
<table id="jlStats" style="display: none; width: 100%;">
    <thead>
        <tr>
            <td><strong>Year</strong></td>
            <td><strong>Yards Per Attempt</strong></td>
            <td><strong>Completion Percentage</strong></td>
            <td><strong>TD/INT Ratio</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2023</td>
            <td id="yardsPerAttempt" style="visibility: hidden;"></td>
            <td id="completionPercentage" style="visibility: hidden;"></td>
            <td id="tdintRatio" style="visibility: hidden;"></td>
        </tr>
    </tbody>
</table>

<div>
    <h2>Try Another Player?</h2>
    <a href="index">
        <strong><em>Back to Search</em></strong>
    </a>
</div>

<script type="module">displayPlayerDetails(@playerid)</script>
<script type="module">displayAdvancedPlayerDetails(@playerid)</script>