@page
@model PrivacyModel
@{
    ViewData["Title"] = "Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>

<h1>** License **</h1>
<h2>Unless otherwise stated,  BizzareByte Solutions and/or its licensors own the intellectual property rights for all material on Climate Sports. All intellectual property rights are reserved. You may access this from Climate Sports for your own personal use subjected to restrictions set in these terms and conditions.</h2>

<h1>** You must not **</h1>
<h2>- Republish material from Climate Sports</h2>
<h2>- Sell, rent, or sub-license material from Climate Sports</h2>
<h2>- Reproduce, duplicate or copy material from Climate Sports</h2>
<h2>- Redistribute content from Climate Sports</h2>

<h1>** Content Liability **</h1>
<h2>We shall not be held responsible for any content that appears on your Website. You agree to protect and defend us against all claims that are rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene, or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of any third-party rights.</h2>

<h1>** Reservation of Rights **</h1>
<h2>We reserve the right to request that you remove all links or any particular link to our website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuously linking to our website, you agree to be bound to and follow these linking terms and conditions.</h2>

<h1>** Removal of Links From Our Website **</h1>
<h2>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us at any moment. We will consider requests to remove links, but we are not obligated to or so or to respond to you directly.</h2>

<h1>** Disclaimer **</h1>
<h2>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</h2>
<h2>- limit or exclude our or your liability for death or personal injury;</h2>
<h2>- limit or exclude our or your liability for fraud or fraudulent misrepresentation;</h2>
<h2>- limit any of our or your liabilities in any way that is not permitted under applicable law; or</h2>
<h2>- exclude any of our or your liabilities that may not be excluded under applicable law.</h2>
<h2>The limitations and prohibitions of liability set in this section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort, and for breach of statutory duty.</h2>
<h2>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</h2>

<h1>** Variation of Terms **</h1>
<h2>BizzareByte Solutions is permitted to revise these terms at any time as it sees fit, and by using this Website you are expected to review these terms on a regular basis.</h2>

<h1>** Governing Law & Jurisdiction **</h1>
<h2>These terms will be governed by and interpreted in accordance with the laws of United States, and you submit to the non-exclusive jurisdiction of the state and federal courts located in United States for the resolution of any disputes.</h2>

<h1>** Contact Information **</h1>
<h2>If you have any questions about these Terms and Conditions, please contact us via email: bizarrebytesolutions@gmail.com.</h2>
<br />
<br />
<h1>By using our website, you hereby consent to our Terms and Conditions and agree to its Privacy Policy.</h1>
<br />
<br />
<h1>Please make sure to review and adjust the content according to your specific requirements and legal advice.</h1>







